{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

{% block extra_css %}

<link href="{% static 'css/main_schoolia.css' %}" rel="stylesheet">

{% endblock %}


<div class="container my-5">
    <section>
        <div class="col-md-12 mb-5">
            <p class="h1 text-center text-secondary">
                {% trans "Schoolia academy" %}
            </p>
            <div class="d-flex justify-content-center">

            </div>
        </div>
    </section>
</div>



{% for comment in comments %}
<div class="container">
    <div class="paragraph-card comment-card" data-comment-id="{{ comment.id }}" id="comment-{{ comment.id }}">
        <h5>{{ comment.sender.username }}</h5>
        <p class="text-small">
            {{ comment.content }}
        </p>
        <br>
        <p class="text-small">
            {{ comment.description }}
        </p>
        <p class="text-small">
            {{ comment.created_at }}
        </p>
        <button class="delete-btn-comment btn btn-danger"
            data-comment-id="{{ comment.id }}">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>

{% empty %}

<h2 class="text-muted">{% trans "There is no comments for now" %}</h2>

{% endfor %} 

{% endblock content %}

{% block extra_js %}

<script defer src="{% static 'js/deleteObj.js' %}"></script>

{% endblock extra_js %}